<div class="flex justify-center min-h-screen">
    <form class="form-group justify-center w-2/5 flex flex-col mx-auto" [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <div class="mb-10 w-[300px] text-center -mt-16 mx-auto">
        <h1 class="mb-3 text-secondary font-500 text-2xl">Create New Password</h1>
        <p class="text-sm">Please enter your new password</p>
      </div>
      <div class="mb-5">
        <label for="newPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
        <input type="password" id="newPassword" formControlName="newPassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Enter New Password" required />
        <div *ngIf="newPassword.touched && newPassword.invalid">
          <small class="text-red-500" *ngIf="newPassword.errors.required">New Password is required.</small>
          <small class="text-red-500" *ngIf="newPassword.errors.minlength">Password must be at least 6 characters long.</small>
        </div>
      </div>
      <div class="mb-5">
        <label for="confirmPassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Confirm New Password" required />
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
          <small class="text-red-500" *ngIf="confirmPassword.errors.required">Confirm Password is required.</small>
          <small class="text-red-500" *ngIf="newPasswordForm.errors?.mismatch">Passwords do not match.</small>
        </div>
      </div>
      <button type="submit" [disabled]="newPasswordForm.invalid"
        class="mb-8 w-[300px] text-white btn-secondary hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-orange-400 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center">CONTINUE</button>
    </form>
  </div>
  