<div routerLink="/leave-component" routerLinkActive="active">
    <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="px-3 py-3 lg:px-5 lg:pl-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center justify-start rtl:justify-end">
                    <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar"
                        aria-controls="logo-sidebar" type="button"
                        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                            </path>
                        </svg>
                    </button>
                    <a href="/profile" class="flex ms-2 md:me-24">
                        <p class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">
                            <img src="assets/img/ABCLimited.png" alt="ABC Limited Logo">
                        </p>
                    </a>
                </div>
                <form action="#" method="GET" class="hidden md:block md:pl-2">
                    <label for="topbar-search" class="sr-only">Search</label>
                    <div class="relative  flex space-between md:w-64 md:w-96">
                        <input type="text" name="email" id="topbar-search"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-secondary-500 focus:border-secondary-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-secondary-500 dark:focus:border-secondary-500"
                            placeholder="Search" />
                        <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z">
                                </path>
                            </svg>
                        </div>
                    </div>
                </form>
                <div class="flex items-center">
                    <div class="flex items-center ms-3">
                        <div class="flex space-x-2 text-xs items-center">
                          <img src="assets/img/notification-4-line.png" alt="">
                          <button type="button"
                            class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                            aria-expanded="false" data-dropdown-toggle="dropdown-user">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full" [src]="profilePicture"
                              alt="user photo">
                          </button>
                          <p>Ralph Edwards</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <aside id="logo-sidebar"
        class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        aria-label="Sidebar">
        <div class="h-screen px-3 pb-4 overflow-y-auto flex flex-col justify-between bg-white dark:bg-gray-800">
            <ul class="space-y-2 font-medium">
                <li>
                    <a href="/leave"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <img src="assets/img/home-2-line.png" alt="">
                        <span class="flex-1 ms-3 whitespace-nowrap">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/leave"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <img src="assets/img/dashboard-line.png" alt="">

                        <span class="ms-3">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/profile"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <img src="assets/img/user-line.png" alt="">
                        <span class="flex-1 ms-3 whitespace-nowrap">Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/leave"
                        class="flex items-center p-2 text-white rounded-lg dark:text-white bg-secondary dark:hover:bg-gray-700 group">
                        <img src="assets/img/rest-time-fill.png" alt="">
                        <span class="flex-1 ms-3 whitespace-nowrap">Leave</span>
                        <span
                            class="inline-flex items-center justify-center text-white"><i
                                class="arrow down"><img src="assets/img/arrow-down-s-line.png" alt="">
                            </i></span>
                    </a>
                </li>
                <li>
                    <a href="/leave"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <img src="assets/img/book-marked-line.png" alt="">
                        <span class="flex-1 ms-3 whitespace-nowrap">Learning</span>
                    </a>
                </li>

            </ul>
            <ul class="items-end mb-14">
                <li>
                    <a href="/leave"
                        class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <img src="assets/img/question-line.png" alt="">
                        <span class="flex-1 ms-3 whitespace-nowrap">Help</span>
                    </a>
                </li>
                <li>
                    <a href="/"
                        class="flex items-center p-2 text-gray-900 gap-3 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                        <img src="assets/img/logout-box-r-line.png" alt="">
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <div class="bg-customColor bg-cover p-10">
        <div class="flex flex-row ml-64 mt-12 ">
            <div class=" w-2/3 flex flex-row ">

                <section id="leave" class=" flex flex-col gap-6">
                    <h1 class="font-600 text-2xl">Available Leave</h1>
                    <div>
                        <div class="mb-12 flex flex-row gap-10">
                            <div
                                class="flex flex-col bg-clip-border w-[206px] h-[102px] rounded-xl bg-white text-gray-700 shadow-md">
                                <div class="p-4 text-center">
                                    <p
                                        class="block antialiased text-sm mb-2 leading-normal font-normal text-primary">
                                        <span class="font-semibold text-lg">10  </span>Days</p>
                                    <h4
                                        class="block antialiased tracking-normal text-sm leading-snug text-primary">
                                        Total</h4>
                                </div>

                            </div>
                            <div
                                class="flex flex-col bg-clip-border w-[206px] h-[102px] rounded-xl bg-white text-gray-700 shadow-md">
                                <div class="p-4 text-center">
                                    <p
                                        class="block antialiased text-sm mb-2 leading-normal font-normal text-primary">
                                        <span class="font-semibold text-lg">10  </span>Days</p>
                                    <h4
                                        class="block antialiased tracking-normal text-sm leading-snug text-primary">
                                        Total</h4>
                                </div>

                            </div>
                            <div
                                class="flex flex-col bg-clip-border w-[206px] h-[102px] rounded-xl bg-white text-gray-700 shadow-md">
                                <div class="p-4 text-center">
                                    <p
                                        class="block antialiased text-sm mb-2 leading-normal font-normal text-primary">
                                        <span class="font-semibold text-lg">10  </span>Days</p>
                                    <h4
                                        class="block antialiased tracking-normal text-sm leading-snug text-primary">
                                        Total</h4>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="flex -mt-8 justify-between">
                        <h1 class="text-xl font-medium">History</h1>
                        <button (click)="onApplyLeave()" class="btn-secondary">Apply</button>
                      </div>
                      <div *ngIf="showForm" class="p-0 bg-white shadow-lg rounded-lg">
                        <form [formGroup]="leaveForm" (ngSubmit)="onSubmitLeave()">
                          <div class="flex shadow-lg p-10 py-20 items-center flex-wrap">
                            <div class="w-full md:w-1/2 px-3 mb-6">
                              <label for="leaveType">Leave Type</label>
                              <select formControlName="leaveType" id="leaveType" class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                <option value="" disabled>Select Leave Type</option>
                                <option value="sick">Sick Leave</option>
                                <option value="casual">Casual Leave</option>
                                <option value="annual">Annual Leave</option>
                              </select>
                            </div>
                            <div class="w-full md:w-1/2 px-3 mb-6">
                              <label for="relieveOfficer">Relieve Officer</label>
                              <select formControlName="relieveOfficer" id="relieveOfficer" class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                                <option value="">Pick a Relieve Officer</option>
                                <option *ngFor="let officer of relieveOfficers" [value]="officer">{{officer}}</option>
                              </select>
                            </div>
                            <div class="w-full md:w-1/2 px-3 mb-6">
                              <label for="startDate">Start Date</label>
                              <input formControlName="startDate" type="date" id="startDate" class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            </div>
                            <div class="w-full md:w-1/2 px-3 mb-6">
                              <label for="endDate">End Date</label>
                              <input formControlName="endDate" type="date" id="endDate" class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                            </div>
                            <div class="w-full flex px-3 gap-8 my-6 md:mb-0">
                              <button type="button" (click)="onCancelLeave()" class="w-1/2 btn-secondary-outline text-gray-700 py-2 px-4 rounded">CANCEL</button>
                              <button type="submit" class="bg-secondary text-white w-1/2 py-2 px-4 mr-2 rounded">SUBMIT</button>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div>
                        <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
                          <table class="w-full min-w-[640px] table-auto">
                            <thead>
                              <tr>
                                <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                                  <p class="block antialiased text-[11px] font-medium uppercase text-blue-gray-400">Leave Type</p>
                                </th>
                                <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                                  <p class="block antialiased text-[11px] font-medium uppercase text-blue-gray-400">Start Date</p>
                                </th>
                                <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                                  <p class="block antialiased text-[11px] font-medium uppercase text-blue-gray-400">End Date</p>
                                </th>
                                <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
                                  <p class="block antialiased text-[11px] font-medium uppercase text-blue-gray-400">Status</p>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let leave of leaveHistory">
                                <td class="py-3 px-5 border-b border-blue-gray-50">
                                  <div class="flex items-center gap-4">
                                    <p class="block antialiased text-sm leading-normal text-blue-gray-900 font-bold">{{ leave.type }}</p>
                                  </div>
                                </td>
                                <td class="py-3 px-5 border-b border-blue-gray-50">
                                  <p class="block antialiased text-xs font-medium text-blue-gray-600">{{ leave.startDate }}</p>
                                </td>
                                <td class="py-3 px-5 border-b border-blue-gray-50">
                                  <p class="block antialiased text-xs font-medium text-blue-gray-600">{{ leave.endDate }}</p>
                                </td>
                                <td class="py-3 px-5 border-b border-blue-gray-50">
                                  <p class="block antialiased text-xs font-medium text-blue-gray-600">{{ leave.status }}</p>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </section>

            </div>
            <div id="sick" class=" w-1/3">
                <div class="flex flex-col space-y-8">
                    <div class="w-[341px] h-[241px] bg-clip-border rounded-xl bg-white shadow-md">
                    <div
                        class="flex flex-col space-y-4 mt-7 my-auto mx-4 ">
                        <p class="text-base font-medium">
                            Sick Leave</p>
                        <div class="flex gap-4 space-between justify-center text-sm">
                        <div class="p-4 rounded w-[85px] border text-center">
                            <h4
                                class="">
                                <span class="font-bold">5</span> days</h4>
                            <p class="text-xs">Total</p>
                        </div>
                         <div class="p-4 rounded border text-center">
                            <h4
                                class="">
                                <span class="text-lg font-bold">0</span> days</h4>
                            <p class="text-xs">Total</p>
                        </div>
                         <div class="p-4 rounded border text-center">
                            <h4
                                class="">
                                <span class="font-bold">5</span> days</h4>
                            <p class="text-xs">Remaining</p>
                        </div>
                        </div>
                        <div class="text-right">
                            <button class="btn-secondary-outline">
                                Apply
                            </button>
                        </div>

                    </div>
                    </div>
                    <div class="w-[341px] h-[241px] bg-clip-border rounded-xl bg-white shadow-md">
                        <div
                            class="flex flex-col space-y-4 mt-7 my-auto mx-4 ">
                            <p class="text-base font-medium">
                                Sick Leave</p>
                            <div class="flex gap-4 space-between justify-center text-sm">
                            <div class="p-4 rounded w-[85px] border text-center">
                                <h4
                                    class="">
                                    <span class="font-bold">5</span> days</h4>
                                <p class="text-xs">Total</p>
                            </div>
                             <div class="p-4 rounded border text-center">
                                <h4
                                    class="">
                                    <span class="text-lg font-bold">0</span> days</h4>
                                <p class="text-xs">Total</p>
                            </div>
                             <div class="p-4 rounded border text-center">
                                <h4
                                    class="">
                                    <span class="font-bold">5</span> days</h4>
                                <p class="text-xs">Remaining</p>
                            </div>
                            </div>
                            <div class="text-right">
                                <button class="btn-secondary-outline">
                                    Apply
                                </button>
                            </div>
    
                        </div>
                        </div>
                        <div class="w-[341px] h-[241px] bg-clip-border rounded-xl bg-white shadow-md">
                            <div
                                class="flex flex-col space-y-4 mt-7 my-auto mx-4 ">
                                <p class="text-base font-medium">
                                    Sick Leave</p>
                                <div class="flex gap-4 space-between justify-center text-sm">
                                <div class="p-4 rounded w-[85px] border text-center">
                                    <h4
                                        class="">
                                        <span class="font-bold">5</span> days</h4>
                                    <p class="text-xs">Total</p>
                                </div>
                                 <div class="p-4 rounded border text-center">
                                    <h4
                                        class="">
                                        <span class="text-lg font-bold">0</span> days</h4>
                                    <p class="text-xs">Total</p>
                                </div>
                                 <div class="p-4 rounded border text-center">
                                    <h4
                                        class="">
                                        <span class="font-bold">5</span> days</h4>
                                    <p class="text-xs">Remaining</p>
                                </div>
                                </div>
                                <div class="text-right">
                                    <button class="btn-secondary-outline">
                                        Apply
                                    </button>
                                </div>
        
                            </div>
                            </div>

                </div>
            </div>
        </div>
    </div>
    <div>